<?xml version="1.0" encoding="UTF-8"?>
		<!-- mapper를 configuration, Config로 수정, config로 수정해야함. mapper가 아니라 configuration(설정)파일이니까 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-Config.dtd" >
<configuration>
	<settings>
		<!-- 언더스코어를 카멜표기법으로 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/> 
		<!-- null 값이 발생하면 빈 문자열("")이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.wtoon.webtoon.member.model.dto.Member" alias="member"/>
		<typeAlias type="com.wtoon.webtoon.model.dto.Genre" alias="genre"/>
	</typeAliases>
</configuration>
