<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webtoon">
	<select id="selectGenreList" resultType="genre">
		select * from genres_tbl
	</select>
	<select id="selectTagList" resultType="String">
		SELECT DISTINCT HASHTAG FROM HASHTAGS_TBL where hashtag like #{hashtag}||'%'
	</select>
	<select id="selectWriterList" resultType="member">
		SELECT * FROM member_tbl where member_id like #{memberId}||'%'
	</select>
	<insert id="insertWebtoon">
		insert into webtoon_tbl values(WEBTOON_SEQ.nextval,#{webtoonTitle},#{webtoonThumbnail},#{webtoonIntro},#{webtoonRating},'1','0')
		<selectKey resultType="int" order="AFTER" keyProperty="webtoonNo">
			select max(webtoon_no) from webtoon_tbl
		</selectKey>
	</insert>
	<insert id="insertCreator">
		insert into creator_tbl values(#{memberNo},#{webtoonNo},#{creatorType})
	</insert>
	<insert id="insertDay">
		insert into serial_days_tbl values(#{webtoonNo},#{serialDay})
	</insert>
	<insert id="insertGenre">
		insert into webtoon_genres_tbl values(#{webtoonNo},#{genreNo})
	</insert>
	<insert id="insertTag">
		insert into hashtags_tbl values(#{webtoonNo},#{hashTag})
	</insert>
</mapper>
